.compact-input {
    ::ng-deep {
        .mat-form-field-flex {
            min-height: unset !important;
        }

        input.mat-input-element {
            padding: 9px 0px !important;
        }

        textarea.mat-input-element {
            margin: 9px 0px !important;
        }
    }
}
